body {
    background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(169, 169, 165));
}
#main {
	position:relative;
	margin: 100px auto;
	padding: 5px;
	width: 660px;
	height:360px;
	background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(56, 56, 56));
	border: 5px solid silver;
	border-radius:15px;
}

#scr {
	margin:20px auto;
	width: 600px;
	height: 320px;
	margin-top:20px;
	background-color: white;
	background-size:cover;
	border: 2px solid rgb(64, 63, 63);
	border-radius:10px;
}

button {
	position: absolute;
	top: 150px;
	width: 25px;
	height: 70px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
    background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(169, 169, 165));
}

.left {
	left:5px;
}

.right {
	right:5px;
}